#app {
    padding-top: 0.42rem;
}

.order_time {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 0.26);
    border-radius: 5px;
}

.uu_time {
    font-size: 0.12rem;
}

.uu_time li {
    display: flex;
    justify-content: space-between;
    padding: 0.14rem 0.1rem 0.08rem 0.17rem;
    border: 1px solid #F2F2F2;
    line-height: 0.16rem;
}

.uu_time li span:nth-child(2) {
    color: #868686;
    max-width: 85%;
}




/* xiugai */
.uu_time li input {
    text-align: right;
    border: 0;
    outline: none;
    background: transparent;
    color: #868686;
}

.buyer_text {
    width: 100%;
    font-size: 0.15rem;
    color: #333333;
}

textarea {
    width: 96%;
    height: 0.5rem;
    background: rgba(237, 237, 237, 1);
    border-radius: 0.05rem;
    margin-top: 0.08rem;
    border: 0;
    resize: none;
    outline: none;
    padding: 0.03rem 0.05rem;
    background: white;
}


.sp-btn {
    display: block;
    width: 97%;
    height: 0.45rem;
    background: rgba(76, 139, 204, 1);
    border-radius: 4px;
    font-size: 0.15rem;
    text-align: center;
    line-height: 0.45rem;
    color: rgba(255, 255, 255, 1);
    margin: 0.28rem auto 0;
}

.lis-one {
    position: relative;
}

.lis-one img {
    width: 0.11rem;
    height: 0.06rem;
    position: absolute;
    right: 0;
    top: 34%;
}

#slect {
    border: 0;
    outline: none;
    background: white;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 14px;
}

#slect option {
    border: 0;
}

option::-ms-expand {
    display: none;
}

option {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari 和 Chrome */
    appearance: none;
}

/* --背景色字体颜色--*/
option:hover {
    color: #fff;
    background-color: #1E90FF;
}